@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* primary */
  /* grey */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
}

body {
  background: #16161a;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  line-height: 1.75;
  color: #000000;
}
